# Xcode
DerivedData/
build/
xcuserdata/
*.xcuserstate

# Swift Package Manager
Packages/
.swiftpm/

# macOS
.DS_Store

# Logs
*.log

# Temporary
*.swp
*.tmp
*.bak

# Playgrounds
timeline.xctimeline
playground.xcworkspace
